name: Full-stack DevOps

on:
  push:
    branches:
    - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v4

      - name: Docker Login
        uses: docker/login-action@v3.7.0
        with:
          registry: ${{ secrets.ACR_URL }}
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}
          logout: true

      - name: Kubernetes Set Context
        uses: Azure/k8s-set-context@v3.0
        with:
          method: kubeconfig
          kubeconfig: ${{ secrets.KUBE_CONFIG }}

      - name: Docker Build & Push, Kubernetes Apply
        run: |
          set -x

          cd api
          docker build -t ${{ secrets.ACR_URL }}/fullstack-api:${{ github.sha }} .
          cd ..

          cd app
          docker build -t ${{ secrets.ACR_URL }}/fullstack-app:${{ github.sha }} .
          cd ..

          docker push ${{ secrets.ACR_URL }}/fullstack-api:${{ github.sha }}
          docker push ${{ secrets.ACR_URL }}/fullstack-app:${{ github.sha }}

          sed -i'' -e 's/ACR_URL/${{ secrets.ACR_URL }}/g' -e 's/AKS_URL/${{ secrets.AKS_URL }}/g' -e 's/IMAGE_LABEL/${{ github.sha }}/g' k8s.yaml
          kubectl apply -f k8s.yaml
